<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>お問い合わせフォーム</h2>
  </div>
<br>
<br>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h3><%= @message.errors.count %>件のエラーがあります:</h3>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_with model: @message, url: messages_path, local: true do |f| %>
<!--<#%= form_for message, :url => {:action => :create} do |f| %>-->
  <%#= f.hidden_field :user_id, :value => current_user.id %>

  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-2">
      <label for="title">タイトル</label>
    </div>
    <div class="col-sm-4">
    <%= f.text_field :title, size: "50" %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-2">
      <label for="content">本文</label>
    </div>
    <div class="col-sm-4">
    <%= f.text_area :content, size: "60x15" %>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-3 ">
    </div>
    <div class="col-sm-3 d-grid gap-2 mx-auto">
      <%= link_to "メッセージ一覧へ戻る", messages_path, class: "btn btn-secondary text-light btn-lg"%>
    </div>
    <div class="col-sm-3 d-grid gap-2 mx-auto">
      <%= f.submit '　送信する　', class: "btn btn-success btn-lg" %>
    </div>
  </div>
<% end %>
<br>
<br>
<br>
</div>