<div class="container">
  <div class="chat-room">
    <div class="d-grid gap-2 col-5 mx-auto text-center">
      <h2>会員間チャット</h2>
    </div>
<br>
<br>
  <!-- ルーム内のユーザー表示部分-->
  <% @RoomUsers.each do |r| %>
    <div class="user-name d-grid gap-2 col-5 mx-auto mb-3 text-center">
      <div class="row justify-content-center">
        <%= link_to users_information_path(r.user.id), class: "btn btn-success btn-lg btn-block" do %>
          <%= r.user.company_name %>さん
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- //ルーム内のユーザー表示部分-->
<hr>
  <!-- メッセージ表示部分-->
  <div class="chat d-grid gap-2 col-5 mx-auto text-center">
    <% if @chats.present? %>
      <% @chats.each do |chat| %>
        <div class="chat-box">
          <div class="chat-text">
            <%= chat.text %>
            <%= chat.created_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h5>メッセージはまだありません</h5>
    <% end %>
  </div>
  <!-- //メッセージ表示部分-->
  <!-- メッセージ投稿部分-->
  <div class="posts d-grid gap-2 col-5 mx-auto mt-5 text-center">
    <%= form_with model: @chat, local: true do |f| %>
      <%= f.text_area :text, placeholder: "メッセージを入力してください", size: "50x2" %>
      <%= f.hidden_field :room_id, value: @room.id %>
<br>
    <div class="form-group row h5">
      <div class="actions col-5 mx-auto mt-2">
        <%= button_tag type: "submit", class: "btn btn-success btn-lg" do %>
        <i class="fa-solid fa-paper-plane fa-lg"></i>　送信
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <!-- //メッセージ投稿部分-->
  </div>
</div>
<br>
<br>
<br>