<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>閲覧申請確認画面</h2>
  </div>
<br>
  <table class="table table-bordered">
    <thead class="h5 table-secondary text-center">
      <tr>
        <th style="width: 8%">物件ID</th>
        <th style="width: 14%">物件画像</th>
        <th style="width: 68%">概要</th>
      </tr>
    </thead>
    <tbody>
      <tr class="h5 text-center">
        <td class="align-middle text-center"><%= @property.id %></td>
        <td class="align-middle text-center">
          <% if @property.image.attached? %>
            <%= image_tag @property.image, size: "100x100" %>
          <% else %>
            <%= image_tag 'default-image', size: "100x100" %>
          <% end %>
        </td>
        <td class="align-middle text-center">
          <%= @property.sell_category %>&emsp;
          <%= @property.prefecture %>
          <%= @property.municipality %>
          <%= @property.city_block %>&emsp;
          <%= @property.kind %>&emsp;<br>
          <%= @property.line %>線&emsp;
          <%= @property.station %>駅&emsp;
          徒歩<%= @property.walking_minute %>分<br>
          <%= @property.price %>万円&emsp;
          <% if @property.kind == 0 %>
            <%= @property.land_area %>㎡&emsp;
          <% else %>
            <%= @property.land_area %>㎡&emsp;
            <%= @property.building_area %>㎡&emsp;
          <% end %>
          <%= @property.right %>&emsp;
          <%= @property.use_area %><br>
          建ぺい率<%= @property.building_coverage_ratio %>％&emsp;
          容積率<%= @property.floor_area_ratio %>％
        </td>
      </tr>
    </tbody>
  </table>
<br>
<br>
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h3>この物件に閲覧申請をしますか？</h3>
  </div>
<br>
<br>
  <div class="row justify-content-center">
    <div class="col-sm-3 mx-auto">
      <%= link_to "　一覧へ戻る　", properties_path, class: "btn btn-secondary text-light btn-lg"%>
    </div>
    <div class="col-sm-4 mx-auto">
      <%= form_with model: @view_application, url: view_applications_path, method: :post do |f| %>
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :property_id, :value => @property.id %>
        <%= f.hidden_field :apply_status ,:value => "申請中" %>
      <%= f.submit "　申請する　", class: "btn btn-primary text-light btn-lg btn-block"  %>
      <% end %>

    </div>
  </div>
<br>
<br>
</div>