<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>閲覧申請一覧</h2>
  </div>
<br>
<br>
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>閲覧申請された<br>登録物件一覧</h2>
  </div>
 <table class="table table-bordered">
    <thead class="h5 table-secondary text-center">
      <tr>
        <th style="width: 16%">申請日時</th>
        <th style="width: 14%">物件画像</th>
        <th style="width: 60%">申請物件</th>
        <th style="width: 10%"> </th>
      </tr>
    </thead>
    <tbody>
      <% if @applied_properties.count <= 0 %>
        <tr>
          <td></td>
          <td></td>
          <td class="h5 align-middle text-center">申請された物件はありません。</td>
          <td></td>
        </tr>
      <% else %>
        <% @applied_properties.each do |property| %>
          <tr class="h5 text-center">
            <td class="align-middle text-center">
              <%= property.created_at.to_s(:date_jp) %><br>
              <%= property.created_at.to_s(:time_jp) %>
            </td>
            <td class="align-middle text-center">
              <% if property.image.attached? %>
                <%= image_tag property.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'default-image.jpg', size: "100x100" %>
              <% end %>
            </td>
            <td class="align-middle text-center">
              <%= property.sell_category %>&emsp;
              <%= property.prefecture %>
              <%= property.municipality %>
              <%= property.city_block %>&emsp;
              <%= property.kind %>&emsp;<br>
              <%= property.line %>線&emsp;
              <%= property.station %>駅&emsp;
              徒歩<%= property.walking_minute %>分<br>
              <%= property.price %>万円&emsp;
              <% if property.kind == "土地" %>
                土地面積：<%= property.land_area %>㎡&emsp;
              <% else %>
                土地面積：<%= property.land_area %>㎡&emsp;
                建物面積：<%= property.building_area %>㎡&emsp;
              <% end %>
              <%= property.right %>&emsp;<br>
              <%= property.use_area %>&emsp;
              建ぺい率<%= property.building_coverage_ratio %>％&emsp;
              容積率<%= property.floor_area_ratio %>％
            </td>
            <td class="align-middle text-center">
              <%= link_to property_view_applications_path(property), class: 'btn btn-primary text-light', "data-confirm" => "申請を確認しますか？" do %>
              <i class="fa-regular fa-circle-check"></i> 詳細
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<br>
<br>
<br>
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>あなたが閲覧申請した<br>物件一覧</h2>
  </div>
  <table class="table table-bordered">
    <thead class="h5 table-secondary text-center">
      <tr>
        <th style="width: 7%">申請ID</th>
        <th style="width: 7%" class="h5 align-middle font-weight-bold">物件画像</th>
        <th style="width: 72%" class="h5 align-middle font-weight-bold">概要</th>
        <th style="width: 14%" class="h5 align-middle font-weight-bold">状況</th>
      </tr>
    </thead>
    <tbody>
      <% if @properties.any? %>
        <% @properties.each do |property| %>
          <% view_application = property.view_applications.find_by(user_id: current_user.id) %>
          <tr class="h5 text-center">
            <td class="align-middle text-center"><%= view_application.id %></td>
            <td class="align-middle text-center">
              <% if property.image.attached? %>
                <%= image_tag property.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'default-image.jpg', size: "100x100" %>
              <% end %>
            </td>
            <td class="align-middle text-center">
              <%= property.sell_category %>&emsp;
              <%= property.prefecture %>
              <%= property.municipality %>
              <%= property.kind %>&emsp;<br>
              <%= property.line %>線&emsp;
              <%= property.station %>駅&emsp;
              徒歩<%= property.walking_minute %>分<br>
              <%= property.price %>万円&emsp;
              <% if property.kind == "土地" %>
                土地面積：<%= property.land_area %>㎡&emsp;
              <% else %>
                土地面積：<%= property.land_area %>㎡&emsp;
                建物面積：<%= property.building_area %>㎡&emsp;
              <% end %>
              <%= property.right %><br>
              <%= property.use_area %>&emsp;
              建ぺい率<%= property.building_coverage_ratio %>％&emsp;
              容積率<%= property.floor_area_ratio %>％
            </td>
            <td class="align-middle text-center">
              <% if view_application.apply_status == "申請中" %>
                <b class="text-success">申請中</b>
                <%= link_to view_application_path(view_application), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger text-light btn-block" do %>
                <i class="fa-solid fa-trash-can fa-lg"></i>
                <% end %>
              <% else %>
                <b class="text-warning">許可</b>
                <%= link_to property_path(property), class: "btn btn-primary text-light btn-block" do %>
                <i class="fa-solid fa-magnifying-glass-location"></i> 物件詳細
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td></td>
          <td></td>
          <td class="h5 align-middle text-center">申請した物件はありません。</td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<br>
<br>
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <%= link_to  users_mypage_path, class: "btn btn-secondary text-light btn-lg" do %>
      <i class="fa-solid fa-backward-step fa-lg"></i>　マイページへ戻る
      <% end %>
    </div>
  </div>
<br>
<br>
<br>
</div>
