<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>お問い合わせ一覧</h2>
  </div>
<br>
<br>
 <table class="table table-bordered">
    <thead class="h5 table-secondary text-center">
      <tr>
        <th style="width: 20%">送信日時</th>
        <th style="width: 10%">問合ID</th>
        <th style="width: 20%">送信者</th>
        <th style="width: 40%">メッセージ</th>
        <th style="width: 10%"> </th>
      </tr>
    </thead>
    <tbody>
    <% @messages.each do |message| %>
      <tr class="h5 text-center">
        <td class="align-middle text-center">
          <%= message.created_at.to_s(:date_jp) %><br>
          <%= message.created_at.to_s(:time_jp) %>
        </td>
        <td class="align-middle text-center"><%= message.id %></td>
        <td class="align-middle text-center"><%= message.user.company_name %></td>
        <td class="align-middle text-left">
          <%= link_to admin_message_path(message) do %>
            タイトル：<%= message.title %><br>本文：<%= message.content.truncate(15) %>
          <% end %>
        </td>
        <td class="align-middle text-center">
            <%= link_to admin_message_path(message), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-danger text-light' do %>
            <i class="fa-solid fa-trash-can fa-lg"></i>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
 <table class="table table-bordered">
    <thead class="h5 table-secondary text-center">
      <tr>
        <th style="width: 20%">送信日時</th>
        <th style="width: 5%">ID</th>
        <th style="width: 65%">運営からのお知らせ</th>
        <th style="width: 10%"> </th>
      </tr>
    </thead>
    <tbody>
  <div class="d-grid gap-2 col-6 mx-auto text-center">
    <h2>運営からのお知らせ一覧</h2>
  </div>
<br>
<br>
    <% @management_notices.each do |management_notice| %>
      <tr class="h5 text-center">
        <td class="align-middle text-center">
          <%= management_notice.created_at.to_s(:date_jp) %><br>
          <%= management_notice.created_at.to_s(:time_jp) %>
        </td>
        <td class="align-middle text-center"><%= management_notice.id %></td>
        <td class="align-middle text-left">
          <%= link_to admin_management_notice_path(management_notice) do %>
            タイトル：<%= management_notice.title %><br>本文：<%= management_notice.content.truncate(30) %>
          <% end %>
        </td>
        <td class="align-middle text-center">
            <%= link_to admin_management_notice_path(management_notice), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-danger text-light' do %>
            <i class="fa-solid fa-trash-can fa-lg"></i>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<br>
<br>
<br>
  <div class="row">
    <div class="col-sm-3 ">
    </div>
    <div class="col-sm-3 d-grid gap-2 mx-auto">
      <%= link_to admin_homes_top_path, class: "btn btn-secondary text-light btn-lg" do %>
      <i class="fa-solid fa-backward-step fa-lg"></i>　管理トップへ戻る
      <% end %>
    </div>
    <div class="col-sm-4 d-grid gap-2 mx-auto">
      <%= link_to  new_admin_management_notice_path, class: "btn btn-success text-light btn-lg" do %>
      <i class="fa-solid fa-envelope fa-lg"></i>　運営からのお知らせ<br>作成
      <% end %>
    </div>
  </div>

<br>
<br>
<br>
</div>
