<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>運営からのお知らせ<br>内容詳細</h2>
  </div>
<br>
<br>
<br>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-2">
      <label class="created_at">送信日時</label>
    </div>
    <div class="col-sm-4">
      <%= @management_notice.created_at.to_s(:datetime_jp) %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-2">
      <label class="id">運営からの<br>お知らせID</label>
    </div>
    <div class="col-sm-4">
      <%= @management_notice.id %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-2">
      <label for="title">タイトル</label>
    </div>
    <div class="col-sm-4">
      <%= @management_notice.title %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-2">
      <label for="content">本文</label>
    </div>
    <div class="col-sm-4">
      <%= @management_notice.content %>
    </div>
  </div>
<br>
<br>
<br>
  <div class="row justify-content-center">
    <div class="col-sm-3 d-grid gap-2 mx-auto">
      <%= link_to "メッセージ一覧へ戻る", admin_messages_path, class: "btn btn-secondary text-light btn-lg"%>
    </div>
    <div class="col-sm-3 d-grid gap-2 mx-auto">
      <%= link_to "　編集する　",  edit_admin_management_notice_path, class: "btn btn-primary text-light btn-lg"%>
    </div>
  </div>
<br>
<br>
<br>
</div>