<div class="container">
<br>
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>登録内容確認</h2>
  </div>
<br>
<br>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="company_name">会社名</label>
    </div>
    <div class="col-sm-4">
      <%= @user.company_name %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="location">所在地</label>
    </div>
    <div class="col-sm-4">
      <%= @user.location %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="licensing_entity">免許主体</label>
    </div>
    <div class="col-sm-4">
      <%= @user.licensing_entity %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="licensing_region">免許地</label>
    </div>
    <div class="col-sm-4">
      <%= @user.licensing_region %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="update_number">免許更新数</label>
    </div>
    <div class="col-sm-4">
      (<%= @user.update_number %>)
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="license_number">免許番号</label>
    </div>
    <div class="col-sm-4">
      第<%= @user.license_number %>号
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="representatives_name">代表者名</label>
    </div>
    <div class="col-sm-4">
      <%= @user.representatives_name %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="manager_name">担当者名</label>
    </div>
    <div class="col-sm-4">
      <%= @user.manager_name %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="telephone_number">電話番号(ハイフンなし)</label>
    </div>
    <div class="col-sm-4">
      <%= @user.telephone_number %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="email">メールアドレス</label>
    </div>
    <div class="col-sm-4">
      <%= @user.email %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="password">パスワード</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    </div>
    <div class="col-sm-4">
      <%= @user.password %>
    <!--<%#= f.password_field :password, value: @user.password, readonly: true %>-->
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="password">パスワード(確認用)</label>
    </div>
    <div class="col-sm-4">
      <%= @user.password_confirmation %>
    <!--<%#= f.password_field :password_confirmation, value: @user.password_confirmation, readonly: true %>-->
    </div>
  </div>
<br>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.hidden_field :company_name %>
    <%= f.hidden_field :location %>
    <%= f.hidden_field :licensing_entity %>
    <%= f.hidden_field :licensing_region %>
    <%= f.hidden_field :update_number %>
    <%= f.hidden_field :license_number %>
    <%= f.hidden_field :representatives_name %>
    <%= f.hidden_field :manager_name %>
    <%= f.hidden_field :telephone_number %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :password %>
    <%= f.hidden_field :password_confirmation %>
  <div class="form-group row h5">
    <div class="actions col-3 mx-auto">
    <%= f.submit "戻る", name: :back, class: "btn btn-secondary btn-lg btn-block"%>
    </div>
    <div class="actions col-3 mx-auto">
    <%= f.submit "新規登録", class: "btn btn-success btn-lg btn-block"%>
    </div>
  </div>
<% end %>
</div>