<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>登録会員一覧</h2>
  </div>
<br>
<br>
  <div class="d-grid gap-2 col-4 mx-auto text-center">
    <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="collapse" data-target="#search">
      <i class="fa-solid fa-magnifying-glass"></i> 検索条件を表示
    </button>
  </div>
    <div id="search" class="collapse">
  <br>
  <%= search_form_for @q, url: admin_users_path do |f| %>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <%= f.label :id_eq, "会員ID" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :id_eq ,class: "form-control", style: "width:80%"%>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <%= f.label :company_name_cont, "会社名" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :company_name_cont ,class: "form-control", style: "width:80%" %>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <%= f.label :location_cont, "所在地" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :location_cont ,class: "form-control", style: "width:80%"%>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <%= f.label :telephone_number_eq, "電話番号(ハイフンなし)" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :telephone_number_eq ,class: "form-control", style: "width:80%"%>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <%= f.label :email_cont, "メールアドレス" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :email_cont ,class: "form-control", style: "width:80%"%>
      </div>
    </div>
  <br>
    <div class="row justify-content-center">
      <div class="col-sm-3">
        <%= button_tag type: "submit", class: "btn btn-success text-light btn-lg btn-block" do %>
        <i class="fa-solid fa-magnifying-glass"></i>　検索する
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
<br>
<br>
  <table class="table table-bordered">
    <thead class="h5 table-secondary text-center">
      <tr>
        <th style="width: 8%">会員ID</th>
        <th style="width: 12%">ステータス</th>
        <th style="width: 66%">概要</th>
        <th style="width: 24%"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr class="h5 text-center">
        <td class="align-middle text-center"><%= user.id %></td>
        <td class="align-middle text-center">
            <% if user.is_deleted %>退会
            <% else %><b class="text-success">有効</b>
            <% end %>
        </td>
        <td class="align-middle text-center"><%= user.company_name %>
            <%= user.licensing_region %>
            <%= user.licensing_entity %>
            (<%= user.update_number %>)
            第<%= user.license_number %>号
            <%= user.location %><br>
            電話番号<%= user.telephone_number %>
            メールアドレス<%= user.email %>
        </td>
        <td class="align-middle text-center">
          <%= link_to admin_user_path(user), class: "btn btn-primary text-light btn-block" do %>
          <i class="fa-solid fa-address-card"></i> 詳細を<br>見る
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @users %>

<br>
<br>
</div>