<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto text-center">
  <h2>物件情報編集</h2>
  </div>
<br>
<br>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h3><%= @property.errors.count %>件のエラーがあります:</h3>
      <ul>
        <% @property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_with model: @property, url: admin_property_path(@property), local: true do |f| %>
<!--<#%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>-->
  <!--<#%= render "public/shared/error_messages", resource: resource %>-->
  <%= f.hidden_field :user_id, :value => @property.user_id %>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="kind">物件種別</label>
    </div>
    <div class="col-sm-4">
      <%= f.select :kind, Property.kinds.keys, {},  {class: 'form-select'} %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="right">権利</label>
    </div>
    <div class="col-sm-4">
      <%= f.select :right, Property.rights.keys, {},  {class: 'form-select'} %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="prefecture">都道府県</label>
    </div>
    <div class="col-sm-4">
      <%= f.select :prefecture, Property.prefectures.keys, {},  {class: 'form-select'} %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="municipality">市区町村</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :municipality, autofocus: true, placeholder: "市区町村", autocomplete: "municipality", size: "20" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="city_block">丁目</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :city_block, autofocus: true, placeholder: "丁目", autocomplete: "city_block", size: "20" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="address">番地</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :address, autofocus: true, placeholder: "番地", autocomplete: "address", size: "30" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="line">路線</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :line,  placeholder: "路線", size: "20" %>線
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="station">駅名</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :station,  placeholder: "駅名", size: "30" %>駅
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="walking_minute">徒歩分(半角数字)</label>
    </div>
    <div class="col-sm-4">
      徒歩<%= f.text_field :walking_minute,  size: "2" %>分
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="land_area">土地面積(半角数字)</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :land_area,  size: "10" %>㎡
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="building_area">建物面積(半角数字)</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :building_area,  size: "10" %>㎡
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="price">価格(半角数字)</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :price,  size: "10" %>万円
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
        <label for="sell_category">売却カテゴリ</label>
    </div>
    <div class="col-sm-4">
      <%= f.select :sell_category, Property.sell_categories.keys, {},  {class: 'form-select'} %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="age">築年月(西暦)</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :age,  placeholder: "〇年〇月", size: "10" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="structure">構造</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :structure,  placeholder: "〇造〇階建", size: "30" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="location_floor">所在階(半角数字)</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :location_floor,  size: "2" %>階
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="building_coverage_ratio">建ぺい率(半角数字)</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :building_coverage_ratio, size: "5" %>％
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="floor_area_ratio">容積率(半角数字)</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :floor_area_ratio, size: "10" %>％
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="city_planning">都市計画</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :city_planning,  placeholder: "〇区域", size: "20" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="use_area">用途地域</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :use_area,  placeholder: "〇地域", size: "40" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="legal_restriction">法令制限</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :legal_restriction,  size: "60" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="road_contact">接道</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :road_contact,  placeholder: "〇側〇ｍ公道", size: "60" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="condition">現況</label>
    </div>
    <div class="col-sm-4">
      <%= f.select :condition, Property.conditions.keys, {},  {class: 'form-select'} %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
    <%= f.label :release_status, "公開ステータス", {class: "form-label"} %>
    </div>
    <div class="col-sm-4 btn-group" data-toggle="buttons">
      <label class="btn btn-outline-primary" style="width:50%">
        <%= f.radio_button :release_status, true, {} %>公開
      </label>
      <label class="btn btn-outline-danger" style="width:50%">
        <%= f.radio_button :release_status, false, {} %>非公開
      </label>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
      <label for="comment">コメント</label>
    </div>
    <div class="col-sm-4">
      <%= f.text_area :comment,  size: "60x5" %>
    </div>
  </div>
  <div class="form-group row h5">
    <div class="col-sm-3">
    <label for="property_image">物件画像</label>
    </div>
    <div class="col-sm-4">
    <%= f.file_field :image, class: "form-control-file image", placeholder: "商品画像", accept: "image/*" %>
    </div>
  </div>
<br>
<br>
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <%= link_to admin_property_path(@property), class: "btn btn-secondary text-light btn-lg" do%>
      <i class="fa-solid fa-backward-step fa-lg"></i>　詳細へ戻る
      <% end %>
    </div>
    <div class="col-sm-4 mx-auto">
      <%= button_tag type: "submit", '　変更を保存　', class: "btn btn-success btn-lg" do %>
      <i class="fa-solid fa-file-arrow-up fa-lg"></i>　変更を保存
      <% end %>
    </div>
    <div class="col-sm-4 mx-auto">
      <%= link_to "　削除する　", admin_property_path(@property), class: "btn btn-danger text-white btn-lg", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
      <i class="fa-solid fa-trash-can fa-lg"></i>　削除する
      <% end %>
    </div>
  </div>
<% end %>
</div>
<br>
<br>