<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto text-center">
  <h2>登録物件一覧</h2>
  </div>
<br>
<br>
  <div class="d-grid gap-2 col-4 mx-auto text-center">
    <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="collapse" data-target="#search">
      <i class="fa-solid fa-magnifying-glass"></i>　検索条件を表示
    </button>
  </div>
    <div id="search" class="collapse">
  <br>
  <%= search_form_for @q, url: admin_properties_path do |f| %>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :id_eq, "物件ID" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :id_eq , class: "form-control", style: "width:60%" %>
      </div>
    </div>
     <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :kind_eq, "物件種別" %>
      </div>
      <div class="col-sm-4">
        <%= f.select :kind_eq, Property.kinds, {include_blank: '選択'},  {class: 'form-select'} %>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :sell_category_eq, "売却カテゴリ" %>
      </div>
      <div class="col-sm-4">
        <%= f.select :sell_category_eq, Property.sell_categories, {include_blank: '選択'},  {class: 'form-select'} %>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :building_name_cont, "建物名称" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :building_name_cont, class: "form-control", style: "width:60%" %>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :prefecture_eq, "都道府県" %>
      </div>
      <div class="col-sm-4">
        <%= f.select :prefecture_eq, Property.prefectures, {include_blank: '選択'},  {class: 'form-select'} %>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :municipality_cont, "市区町村" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :municipality_cont, class: "form-control", style: "width:60%" %>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :right_eq, "権利種別" %>
      </div>
      <div class="col-sm-4">
        <%= f.select :right_eq, Property.rights, {include_blank: '選択'},  {class: 'form-select'} %>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :line_cont, "路線" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :line_cont, class: "form-control" , style: "width:60%" %>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :station_cont, "駅名" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :station_cont, class: "form-control", style: "width:60%" %>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :walking_minute, "徒歩" %>
      </div>
      <div class="col-sm-2">
        <%= f.number_field :walking_minute_gteq, class: "form-control", style: "width:60%" ,min:1%>
        <p class="align-middle">分〜</p>
      </div>
      <div class="col-sm-2">
        <%= f.number_field :walking_minute_lteq, class: "form-control", style: "width:60%" ,min:1 %>
        <p class="align-middle">分以内</p>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :price, "価格" %>
      </div>
      <div class="col-sm-3">
        <%= f.number_field :price_gteq, class: "form-control", style: "width:60%" ,min:0 %>
        <p class="align-middle">万円〜</p>
      </div>
      <div class="col-sm-3">
        <%= f.number_field :price_lteq, class: "form-control", style: "width:60%" ,min:0 %>
        <p class="align-middle">万円以下</p>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :building_coverage_ratio, "建ぺい率" %>
      </div>
      <div class="col-sm-3">
        <%= f.number_field :building_coverage_ratio_gteq, class: "form-control", style: "width:50%" ,min:0 %>
        <p class="align-middle">％〜</p>
      </div>
      <div class="col-sm-3">
        <%= f.number_field :building_coverage_ratio_lteq, class: "form-control", style: "width:50%" ,min:0 %>
        <p class="align-middle">％以下</p>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :floor_area_ratio, "容積率" %>
      </div>
      <div class="col-sm-3">
        <%= f.number_field :floor_area_ratio_gteq, class: "form-control", style: "width:50%" ,min:0 %>
        <p class="align-middle">％〜</p>
      </div>
      <div class="col-sm-3">
        <%= f.number_field :floor_area_ratio_lteq, class: "form-control", style: "width:50%" ,min:0 %>
        <p class="align-middle">％以下</p>
      </div>
    </div>
    <div class="form-group row h5">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <%= f.label :use_area_cont, "用途地域" %>
      </div>
      <div class="col-sm-4">
        <%= f.search_field :use_area_cont, class: "form-control" %>
      </div>
    </div>
  <br>
    <div class="row justify-content-center">
      <div class="col-sm-3">
        <%= button_tag type: "submit", class: "btn btn-success text-light btn-lg btn-block" do %>
        <i class="fa-solid fa-magnifying-glass"></i>　検索する
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
<br>
<br>
  <table class="table table-bordered">
    <thead class="h5 table-secondary text-center">
      <tr>
        <th style="width: 8%">物件ID</th>
        <th style="width: 14%">物件画像</th>
        <th style="width: 62%">概要</th>
        <th class="th-standard"> </th>

      </tr>
    </thead>
    <tbody>
      <% @properties.each do |property| %>
      <tr class="h5 text-center">
        <td class="align-middle text-center"><%= property.id %></td>
        <td class="align-middle text-center">
          <% if @property.image.attached? %>
            <%= image_tag @property.image, size: "100x100" %>
          <% else %>
            <%= image_tag 'default-image.jpg', size: "100x100" %>
          <% end %>
        </td>
        <td class="align-middle text-center">
            <%= property.sell_category %>&emsp;
            <%= property.building_name %>&emsp;
            <%= property.prefecture %>
            <%= property.municipality %>
            <%= property.city_block %>&emsp;
            <%= property.kind %>&emsp;<br>
            <%= property.line %>線&emsp;
            <%= property.station %>駅&emsp;
            徒歩<%= property.walking_minute %>分<br>
            <%= property.price %>万円&emsp;
            <% if @property.kind == "土地" %>
              土地面積：<%= property.land_area %>㎡&emsp;
            <% else %>
              土地面積：<%= property.land_area %>㎡&emsp;
              建物面積：<%= property.building_area %>㎡&emsp;
              <%= property.floor_plan %>&emsp;
            <% end %><br>
            <%= property.right %>&emsp;
            <%= property.use_area %><br>
            建ぺい率<%= property.building_coverage_ratio %>％&emsp;
            容積率<%= property.floor_area_ratio %>％
        </td>
        <td class="align-middle text-center">
          <%= link_to admin_property_path(property), class: "btn btn-primary text-light btn-block" do %>
          <i class="fa-solid fa-magnifying-glass-plus fa-lg"></i> 詳細を見る
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @properties %>

<br>
<br>
</div>