<br>
<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto">
  <h2>会員ログイン</h2>
  </div>
<br>
<br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="d-grid gap-2 col-5 mx-auto">
      <div class="field h5">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 30 %>
      </div>
    </div>
  </div>
<br>
  <div class="row">
    <div class="d-grid gap-2 col-5 mx-auto">
      <div class="field h5">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", size: 20 %>
      </div>
    </div>
  </div>
<br>
  <div class="row">
    <div class="d-grid gap-2 col-5 mx-auto">
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <h4>ログイン情報を保存する</h4><%= f.label :remember_me %>
      </div>
    <% end %>
    </div>
  </div>
<br>
  <div class="row">
    <div class="d-grid gap-2 col-5 mx-auto">
    <%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block", notice: "ようこそ。ログインに成功しました。" %>
    </div>
  </div>
    <% end %>
<br>
<br>
<br>
<br>
  <div class="row">
    <div class="d-grid gap-2 col-5 mx-auto">
    <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-success btn-lg btn-block" %>
    </div>
  </div>
<br>
<br>
</div>
