<div class="container">
  <div class="d-grid gap-2 col-5 mx-auto text-center">
    <h2>会員情報詳細</h2>
  </div>
<br>
<br>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="company_name">会社名</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <%= @user.company_name %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="location">所在地</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <%= @user.location %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="licensing_entity">免許主体</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <%= @user.licensing_entity %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="licensing_region">免許地</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <%= @user.licensing_region %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="update_number">免許更新数</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      (<%= @user.update_number %>)
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="license_number">免許番号</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      第<%= @user.license_number %>号
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="representatives_name">代表者名</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <%= @user.representatives_name %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="manager_name">担当者名</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <%= @user.manager_name %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="telephone_number">電話番号(ハイフンなし)</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <%= @user.telephone_number %>
    </div>
  </div>
  <div class="form-group row h5 justify-content-center">
    <div class="col-sm-3">
      <label for="email">メールアドレス</label>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <%= @user.email %>
    </div>
  </div>
  <% if current_user.id == @user_id %>
    <div class="form-group row h5 justify-content-center">
      <div class="col-sm-3">
        <label for="password">パスワード</label>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
      </div>
      <div class="col-sm-4">
        <%= @user.password %>
      <!--<%#= f.password_field :password, value: @user.password, readonly: true %>-->
      </div>
    </div>
    <div class="form-group row h5 justify-content-center">
      <div class="col-sm-3">
        <label for="release_status">会員ステータス</label>
      </div>
      <div class="col-sm-4">
        <% if @user.is_deleted %>
          <b class="text-secondary">退会</b>
        <% else %>
          <b class="text-success">有効</b>
        <% end %>
      </div>
    </div>
  <% end %>
<br>
<br>
<br>
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <%= link_to  users_mypage_path, class: "btn btn-secondary text-light btn-lg" do %>
      <i class="fa-solid fa-backward-step fa-lg"></i>　マイページへ戻る
      <% end %>
    </div>
  <% if current_user.id == @user_id %>
    <div class="col-sm-4 ml-5">
      <%= link_to  users_information_edit_path(current_user), class: "btn btn-success text-light btn-lg" do %>
      <i class="fa-solid fa-user-gear fa-lg"></i>　会員情報を編集する
      <% end %>
    </div>
  <% end %>
</div>
<br>
<br>
<br>