<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>SHEELE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="application.css">-->
    <script src="https://kit.fontawesome.com/49c3f1be0c.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag 'logo.jpg', size: '200x80' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-1">

            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_homes_top_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-star"></i> トップ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_messages_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-message"></i> メッセージ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_properties_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-city"></i> 物件一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_users_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-users"></i> 会員一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                <% end %>
              </li>
            <% elsif user_signed_in? %>
              <h5 class="nav-item mr-5 py-1">ようこそ、<%= current_user.company_name %>様！</h5>
              <li class="nav-item">
                <%= link_to users_mypage_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-user"></i> マイページ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to properties_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-city"></i> 物件一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  new_property_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-file-circle-plus"></i> 物件登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to root_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-star"></i> トップ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-user-plus"></i> 新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'btn btn-outline-dark mr-3' do %>
                <i class="fa-solid fa-right-to-bracket"></i> ログイン
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br>
    <div class="container px-2 px-sm-0">
      <div class="text-success font-weight-bold">
        <h5><%= flash[:notice] %></h5>
      </div>
      <div class="text-danger font-weight-bold">
        <h5><%= flash[:alret] %></h5>
      </div>
    </div>
    <%= yield %>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        </br>
        </br>
        </br>
      </div>
    </footer>
  </body>
</html>

